{% extends "padre.html" %}
{% load static %}
{% block chat %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <h2>Intercambiar mensajes con {{ receptor }}!!!</h2>
    <br>
    &nbsp;
    <a class="btn btn-primary" href="enviar/{{ receptor }}">Enviar mensaje</a>
    &nbsp;
    <a class="btn btn-primary" href="recibir/{{ receptor }}">Leer mensajes</a>
    &nbsp;
    <a class="btn btn-primary" href="{% url 'Mensajes' %}">Volver</a>
    <br>
</body>
<br>
</html>

{% endblock %}