{% extends "padre.html" %}
{% load static %}
{% block messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes</title>
</head>
<body>

    <form action="{% url 'Chat' %}" method="POST">
        {% csrf_token %}
        <h2>Con quien desea intercambiar mensajes?</h2>
        <br>
        <select name="receptor">
        {% for item in usuarios %}
        {% if item.username != logueado %}
        <option value ="{{ item.username }}">{{ item.username }}</option>
        {% endif %}
        {% endfor %}
        </select> 
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
        
    &nbsp;

</body>
</html>

{% endblock %}