{% extends "padre.html" %}
{% load static %}

{% block editarPassword %}
&nbsp;
{% if editPassword == False %}

<div class="col-md-2">

    <form action="{% url 'EditarPassword' %}" method="POST">
        {% csrf_token %}

    <div class="form-group">
        <label for="exampleInputPassword1">Contraseña actual:</label>
        <input type="password" name="q_Old_Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="NewPassword">Nueva contraseña:</label>
        <input type="password" name="q_new_Password" class="form-control" id="NewPassword" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="ConfirmNewPassword">Repita nueva contraseña:</label>
        <input type="password" name="q_confirm_new_Password" class="form-control" id="ConfirmNewPassword" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <form action="{% url 'EditarUsuario' %}" method="GET">
    <button type="submit" class="btn btn-primary">Cancelar</button>
    </form>

</div>

{% endif %}

{% if editPassword == True %}
    <h1>{{ mensaje }}</h1>
    &nbsp;
    <form action="{% url 'EditarPassword' %}" method="GET">
        <input type="submit" value="Editar contraseña">
    </form>
    &nbsp;
    <form action="{% url 'EditarUsuario' %}" method="GET">
        <input type="submit" value="Volver a usuario">
    </form>
{% endif %}
&nbsp;

{% endblock %}