{% extends "padre.html" %}
{% load static %}
{% block about %}
<style>
    h1 {text-indent: 20px}
    h3 {text-indent: 20px}
    p {text-indent: 40px}
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
<h1>Proyecto final curso de Python, camada 31105.</h1>
<br>
<h3>Un poco acerca de nosotros....</h3>
<p>Julian, 32 años, de Ing. Maschwitz, profe de educacion fisica, empleado administrativo, ingresando a este mundo de la programacion.</p>
<p>Juan Ignacio, 41 años, de CABA, netDevOps en una empresa, metido ya hace un año en esto de la programacion de manera autodidacta, queriendo afianzar conocimientos y conceptos.</p>
<p>Irvin Estrada Noyola, 22 años, Tijuana Mexico, estudiante de Ing. en Sistemas, me metí para mejorar mis skills, aprender un nuevo  lenguaje de programación, y convencerme de que la rama del backend es realmente a lo que me quiero dedicar.</p>
<br>
<h3>Acerca del Blog...</h3>
<p>En este Blog podran ver y cargar sus recetas favoritas!</p>
<p>Tambien podran...., Registrarse, loguearse, agregar un avatar, intercambiar mensajes con otros usuarios.</p>
</body>
</html>

{% endblock %}