{% extends "padre.html" %}
{% load static %}
{% block cargarReceta %}
&nbsp;
{% if recetaCargada == False %}
<form action="{% url 'cargarReceta' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ cargarRecetaForm.media }}
    {{ cargarRecetaForm.as_p }}
    <input type="submit" value="Enviar">
</form>
{% endif %}

{% if recetaCargada == True %}
<h2>Receta cargada con exito!!!</h2>
<form action="{% url 'Home' %}" method="GET">
    <input type="submit" value="Regresar a Home.">
</form>
&nbsp;
<form action="{% url 'cargarReceta' %}" method="GET">
    <input type="submit" value="Cargar otra receta.">
</form>
{% endif %}
&nbsp;
{% endblock %}