<!DOCTYPE html>

<html lang="en">
    <head>
        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Recetando recetas</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'Home' %}">Recetando Recetas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if not request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'Login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'About' %}">About</a></li>
                        {% endif %}

                        {% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'cargarReceta' %}">Sube tus Recetas</a></li>
                        <img src="{{ imagen }}" width="5%">
                        <li class="nav-item"><a class="nav-link" href="{% url 'EditarUsuario' %}">{{user.username}}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Mensajes' %}">Mensajes</a></li>
                        <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="{% url 'Logout' %}">Logout</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'About' %}">About</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Recetando recetas 👩‍🍳</h1>
                    <p class="lead mb-0">Sabemos lo que es comer bien</p>
                </div>
            </div>
        </header>
        {% block inicio %}
        {% endblock %}

        {% block cargarReceta %}
        {% endblock %}

        {% block verReceta %}
        {% endblock %}

        {% block inicioRegister %}
        {% endblock %}

        {% block register %}
        {% endblock %}

        {% block login %}
        {% endblock %}

        {% block logout %}
        {% endblock %}

        {% block editarPerfil %}
        {% endblock %}

        {% block editarAvatar %}
        {% endblock %}

        {% block messages %}
        {% endblock %}

        {% block chat %}
        {% endblock %}

        {% block chatEnviar %}
        {% endblock %}

        {% block chatRecibir %}
        {% endblock %}
        
        {% block about %}
        {% endblock %}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Juli, Juan e Irvin 🐱‍👤 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
